*{
    padding:0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(75deg,orange,red);
}
#container{
    width: 100%;
    height: 170px;
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    bottom: 50px;
    left: 500px;

}
img{
    width: 140px;
    height: 100px;
    transform: skewY(-20deg) skewY(-30deg);
    margin-left:-90px ;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    transition: transform 0.25s, box-shadow 0.25s;

}
img:hover{
    transform: skewX(0deg) skewy(0deg) translateY(-170px) scale(1.6);
    
    
}
#yoo{
    width: 60%;
    height: 400px;
    background-image: url(./Gallery/photos/10.jpg);
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    position: absolute;
    top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}